@media (max-width: 575.98px) { 

  .rlues_base >p {
    font-size: 12px;
    line-height: 17px;
  }
  .main{
    width: 100%;
    font-size: 12px;
  }
  .display_income{
    width: 80%;
  }
  .col-8{
    padding: 0;
    padding-left: 10px;
  }
  .cookAreaCircle li {
    margin-right: 8px;
    margin-top: 3px;
  }
  .addCheif {
    width: 110px;
    height: 110px;
  }
  img{
    width: 120px;
  }
  .seat{
    margin-top: 15px;
  }
  .menu li .item {
    width: 150px;
    height: 40px;
    margin-top: 0px;
    font-size: 20px;
  }
  .seatArea .circle .profile {
    height: 165px;
  }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .main{
    width: 100%;
    padding-right: 0;
  }
  #iamtest{
    background-color: blue;
  }
  .rlues_base >p {
    font-size: 14px;
    line-height: 30px;
  }
  .cookAreaCircle li {
    margin-right: 5px;
  }
  .addCheif {
    width: 85px;
    height: 85px;
  }
  ul.menu{
    left:-60px;
  }
  img{
    width: 75px;
  }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .main{
    width: 100%;
  }
  .col-md-9,.col-md-3{
    padding-right: 0;
  }
  .cookAreaCircle li {
    margin-right: 10px;
  }
  .addCheif {
    width: 90px;
    height: 90px;
  }
  .seatArea{
    padding: 30px 10px;
  }
  .seatArea .circle .profile {
    height: 100px;
  }
  .item i{
    font-size: 12px;
  }
  img{
    width: 80px;
  }
  ul.menu{
    left:-55px;
  }
  .menu li .item {
    width: 75px;
    height: 30px;
    margin-top: 0px;
  }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .addCheif {
    width: 115px;
    height: 115px;
  }
  img{
    width: 100px;
  }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  img{
    height: 130px;
  }
 }